footer{
    margin-top: 60px;
}

footer .nav-footer{
    background-color: #262626;
}

.nav-footer--content{
    display: flex;
    color: #838383;
    padding: 20px 0px;
    font-size: 12px;
    justify-content: space-between;
}

.nav-footer--content nav{
    display: flex;
    gap: 20px;
}

.nav-footer--content nav a{
    text-decoration: none;
    color: #838383;
}

.nav-footer--content nav a:hover{
    color: white;
}


.acerca-de{
    background-color: #191919;
    color: white;
    padding: 40px;
}

.acerca-de img{
    width: 225px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.acerca-de p{
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}